.footer {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
}

.footer__container {
  max-width: 882px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.footer__copyright {
  color: #545454;
  font-size: 18px;
  margin: 0;
  margin-top: 67px;
  margin-bottom: 66px;
}
